<%- include('./partials/header.ejs') %>
<body class="bg-gray-100 flex flex-col min-h-screen">
  <%- include('./partials/nav.ejs') %>

  <main class="flex-grow w-full bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="container mx-auto py-8">
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gradient-to-r from-pink-500 to-yellow-500">
            <tr>
              <th class="py-3 px-6">Image</th>
              <th class="py-3 px-6">
                <a href="/?sortField=name&sortDirection=<%= sortField === 'name' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Name
                </a>
              </th>
              <th class="py-3 px-6">
                <a href="/?sortField=description&sortDirection=<%= sortField === 'description' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Description
                </a>
              </th>
              <th class="py-3 px-6">
                <a href="/?sortField=age&sortDirection=<%= sortField === 'age' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Age
                </a>
              </th>
              <th class="py-3 px-6">
                <a href="/?sortField=active&sortDirection=<%= sortField === 'active' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Active
                </a>
              </th>
              <th class="py-3 px-6">
                <a href="/?sortField=birthDate&sortDirection=<%= sortField === 'birthDate' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Birth Date
                </a>
              </th>
              <th class="py-3 px-6">
                <a href="/?sortField=role&sortDirection=<%= sortField === 'role' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Role
                </a>
              </th>
              <th class="py-3 px-6">
                <a href="/?sortField=hobbies&sortDirection=<%= sortField === 'hobbies' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Hobbies
                </a>
              </th>
              <% if (user.role === 'ADMIN') { %>
              <th class="py-3 px-6">Actions</th>
              <% } %>
            </tr>
          </thead>

          <tbody>
            <% for (const character of characters) { %>
            <tr class="bg-white border-b">
              <td class="py-4 px-6">
                <div class="flex justify-center">
                  <a href="/character/<%= character.id %>">
                    <img src="<%= character.imageUrl %>" alt="<%= character.name %>" class="object-cover rounded-lg" style="width: 150px; height: 250px; border: 3px solid rgb(171, 154, 0); margin: 5px;">
                  </a>
                </div>
              </td>
              <td class="py-4 px-6 text-center"><%= character.name %></td>
              <td class="py-4 px-6 text-center"><%= character.description %></td>
              <td class="py-4 px-6 text-center"><%= character.age %></td>
              <td class="py-4 px-6 text-center"><%= character.isActive ? 'Yes' : 'No' %></td>
              <td class="py-4 px-6 text-center"><%= character.birthDate %></td>
              <td class="py-4 px-6 text-center"><%= character.role %></td>
              <td class="py-4 px-6 text-center"><%= character.hobbies.join(', ') %></td>
              <% if (user.role === 'ADMIN') { %>
              <td class="py-4 px-6 text-center">
                <a href="/characters/<%= character.id %>/edit" class="text-blue-500 hover:underline">Edit</a>
              </td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>
</html>