<%- include('./partials/header.ejs') %>
<body class="bg-gray-100 flex flex-col min-h-screen">
  <%- include('./partials/nav.ejs') %>

  <main class="flex justify-center w-full bg-gradient-to-r from-cyan-500 to-blue-500 flex-grow">
    <div class="container mx-auto py-8">
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gradient-to-r from-pink-500 to-yellow-500">
            <tr>
              <th scope="col" class="py-3 px-6">Image</th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=specialMove&sortDirection=<%= sortField === 'specialMove' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Special Move
                </a>
              </th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=strength&sortDirection=<%= sortField === 'strength' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Strength
                </a>
              </th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=type&sortDirection=<%= sortField === 'type' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Type
                </a>
              </th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=isHuman&sortDirection=<%= sortField === 'isHuman' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Is Human
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for(const power of powers) { %>
            <tr class="bg-white border-b">
              <td class="py-4 px-6 text-center">
                <div class="flex justify-center">
                  <a href="/power/<%= power.id %>">
                    <img src="<%= power.imageUrl %>" alt="<%= power.specialMove %>" class="object-cover rounded-lg" style="width: 150px; height: 250px; border: 3px solid rgb(171, 154, 0); margin: 5px;">
                  </a>
                </div>
              </td>
              <td class="py-4 px-6 text-center"><%= power.specialMove %></td>
              <td class="py-4 px-6 text-center"><%= power.strength %></td>
              <td class="py-4 px-6 text-center"><%= power.type %></td>
              <td class="py-4 px-6 text-center"><%= power.isHuman ? 'Yes' : 'No' %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>
</html>