<%- include('./partials/header.ejs') %>
<body class="bg-gray-100 flex flex-col min-h-screen">
  <%- include('./partials/nav.ejs') %>

  <main class="flex justify-center items-center flex-grow">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="flex justify-center p-4">
        <img src="<%= power.imageUrl %>" alt="<%= power.specialMove %>" class="w-full h-full object-cover rounded-lg" style="max-width: 500px; max-height: 500px">
      </div>
      <div class="p-6">
        <h1 class="text-2xl font-bold text-center mb-4"><%= power.specialMove %></h1>
        <div class="overflow-x-auto">
          <table class="min-w-full bg-white">
            <tbody>
              <tr>
                <td class="border px-4 py-2 font-semibold">Type:</td>
                <td class="border px-4 py-2"><%= power.type %></td>
              </tr>
              <tr>
                <td class="border px-4 py-2 font-semibold">Human:</td>
                <td class="border px-4 py-2"><%= power.isHuman ? 'Yes' : 'No' %></td>
              </tr>
              <tr>
                <td class="border px-4 py-2 font-semibold">Strength:</td>
                <td class="border px-4 py-2"><%= power.strength %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>
</html>