<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <title>Heroes</title>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
  <nav class="bg-gray-800 text-yellow-400 p-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Navbar Links -->
      <ul class="flex space-x-8">
        <li>
          <a href="/" class="hover:text-gray-300">Characters</a>
        </li>
        <li>
          <a href="/power" class="hover:text-gray-300">Powers</a>
        </li>
      </ul>

      <!-- Search Bar -->
      <form action="/" method="get" class="flex items-center">
        <label for="search" class="sr-only"></label>
        <input type="text" id="search" name="q" value="<%= q %>" class="bg-gray-700 text-yellow-400 border-2 border-gray-600 rounded-lg py-1 px-2">
        <button type="submit" class="bg-yellow-500 text-gray-800 rounded-lg ml-2 py-1 px-2">Zoeken</button>
      </form>
    </div>
  </nav>

  <main class="flex justify-center w-full bg-gradient-to-r from-cyan-500 to-blue-500 flex-grow">
    <div class="container mx-auto py-8">
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gradient-to-r from-pink-500 to-yellow-500">
            <tr>
              <th scope="col" class="py-3 px-6">Image</th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=specialMove&sortDirection=<%= sortField === 'specialMove' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Special Move
                </a>
              </th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=strength&sortDirection=<%= sortField === 'strength' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Strength
                </a>
              </th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=type&sortDirection=<%= sortField === 'type' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Type
                </a>
              </th>
              <th scope="col" class="py-3 px-6">
                <a href="/power?sortField=isHuman&sortDirection=<%= sortField === 'isHuman' && sortDirection === 'asc' ? 'desc' : 'asc' %>">
                  Is Human
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for(const power of powers) { %>
            <tr class="bg-white border-b">
              <td class="py-4 px-6 text-center">
                <div class="flex justify-center">
                  <a href="/power/<%= power.id %>">
                    <img src="<%= power.imageUrl %>" alt="<%= power.specialMove %>" class="object-cover rounded-lg" style="width: 150px; height: 250px; border: 3px solid rgb(171, 154, 0); margin: 5px;">
                  </a>
                </div>
              </td>
              <td class="py-4 px-6 text-center"><%= power.specialMove %></td>
              <td class="py-4 px-6 text-center"><%= power.strength %></td>
              <td class="py-4 px-6 text-center"><%= power.type %></td>
              <td class="py-4 px-6 text-center"><%= power.isHuman ? 'Yes' : 'No' %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <footer class="bg-gray-800 text-yellow-400 p-4 text-center">
    <p>&copy; 2023 Heroes. All rights reserved.</p>
  </footer>
</body>
</html>