<%- include('./partials/header') %> <%- include('./partials/nav') %>

<main class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-1/3 bg-white rounded-lg shadow-lg overflow-hidden">
    <form action="/update-character/<%= character.id %>" method="POST">
      <div class="p-4">
        <h1 class="text-xl font-bold text-center mb-4">Edit Character</h1>

        <div class="mb-4">
          <label for="name" class="block text-sm font-bold mb-2">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= character.name %>"
            class="w-full p-2 border rounded"
            required
          />
        </div>

        <div class="mb-4">
          <label for="description" class="block text-sm font-bold mb-2"
            >Description:</label
          >
          <textarea
            id="description"
            name="description"
            rows="3"
            class="w-full p-2 border rounded"
            required
          >
<%= character.description %></textarea
          >
        </div>

        <div class="mb-4">
          <label for="age" class="block text-sm font-bold mb-2">Age:</label>
          <input
            type="number"
            id="age"
            name="age"
            value="<%= character.age %>"
            class="w-full p-2 border rounded"
            required
          />
        </div>

        <div class="mb-4">
          <label for="role" class="block text-sm font-bold mb-2">Role:</label>
          <input
            type="text"
            id="role"
            name="role"
            value="<%= character.role %>"
            class="w-full p-2 border rounded"
            required
          />
        </div>

        <div class="flex justify-center mt-4">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded"
          >
            Update Character
          </button>
        </div>
      </div>
    </form>
  </div>
</main>

<%- include('./partials/footer') %>
