<%- include('./partials/header') %> <%- include('./partials/nav') %>

<main
  class="flex justify-center w-full bg-gradient-to-r from-cyan-500 to-blue-500"
>
  <div class="w-full">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gradient-to-r from-pink-500 to-yellow-500 dark:bg-gray-700"
      >
        <tr>
          <th class="py-3 px-6">Image</th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=name&sortDirection=<%= sortField === 'name' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Name
            </a>
          </th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=description&sortDirection=<%= sortField === 'description' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Description
            </a>
          </th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=age&sortDirection=<%= sortField === 'age' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Age
            </a>
          </th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=active&sortDirection=<%= sortField === 'active' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Active
            </a>
          </th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=birthDate&sortDirection=<%= sortField === 'birthDate' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Birth Date
            </a>
          </th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=role&sortDirection=<%= sortField === 'role' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Role
            </a>
          </th>
          <th class="py-3 px-6">
            <a
              href="/?sortField=hobbies&sortDirection=<%= sortField === 'hobbies' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Hobbies
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <% for (const character of characters){ %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6 text-center">
            <div class="flex justify-cent</div>er">
              <a href="/character/<%= character.id %>">
                <img
                  src="<%= character.imageUrl %>"
                  alt="<%= character.name %>"
                  class="w-20 h-20 object-cover"
                  style="max-width: 200px; max-height: 200px"
                />
              </a>
            </div>
          </td>
          <td class="py-4 px-6 text-center"><%= character.name %></td>
          <td class="py-4 px-6 text-center"><%= character.description %></td>
          <td class="py-4 px-6 text-center"><%= character.age %></td>
          <td class="py-4 px-6 text-center">
            <%= character.isActive ? 'Yes' : 'No' %>
          </td>
          <td class="py-4 px-6 text-center"><%= character.birthDate %></td>
          <td class="py-4 px-6 text-center"><%= character.role %></td>
          <td class="py-4 px-6 text-center">
            <%= character.hobbies.join(', ') %>
          </td>
        </tr>
        <% }; %>
      </tbody>
    </table>
  </div>
</main>

<%- include('./partials/footer') %>
