<%-include('./partials/header')%> <%-include('./partials/nav')%>

<main
  class="flex justify-center w-full bg-gradient-to-r from-cyan-500 to-blue-500"
>
  <div class="w-full">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gradient-to-r from-pink-500 to-yellow-500 dark:bg-gray-700"
      >
        <tr>
          <th scope="col" class="py-3 px-6">Image</th>
          <th scope="col" class="py-3 px-6">
            <a
              href="/power?sortField=specialMove&sortDirection=<%= sortField === 'specialMove' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Special Move
            </a>
          </th>
          <th scope="col" class="py-3 px-6">
            <a
              href="/power?sortField=strength&sortDirection=<%= sortField === 'strength' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Strength
            </a>
          </th>
          <th scope="col" class="py-3 px-6">
            <a
              href="/power?sortField=type&sortDirection=<%= sortField === 'type' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Type
            </a>
          </th>
          <th scope="col" class="py-3 px-6">
            <a
              href="/power?sortField=isHuman&sortDirection=<%= sortField === 'isHuman' && sortDirection === 'asc' ? 'desc' : 'asc' %>"
            >
              Is Human
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(const power of powers){ %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6 text-center">
            <div class="flex justify-center">
              <a href="/power/<%= power.id %>">
                <img
                  src="<%= power.imageUrl %>"
                  alt="<%= power.name %>"
                  class="w-10 h-10 object-cover"
                  style="max-width: 200px; max-height: 200px"
                />
              </a>
            </div>
          </td>
          <td class="py-4 px-6 text-center"><%= power.specialMove %></td>
          <td class="py-4 px-6 text-center"><%= power.strength %></td>
          <td class="py-4 px-6 text-center"><%= power.type %></td>
          <td class="py-4 px-6 text-center">
            <%= power.ishuman ? 'Yes' : 'No' %>
          </td>
        </tr>
        <% }; %>
      </tbody>
    </table>
  </div>
</main>

<%-include('./partials/footer')%>
